@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none !important;
} */

@import url('../public/css/gambetta.css');
@import url('../public/css/switzer.css');
@import url('../public/css/clash-display.css');


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%; /* Moved border to top */
    /* ... rest of your variables */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%; /* Moved border to top */
    /* ... rest of your dark variables */
  }
  * {
    @apply border-border; /* Now properly defined */
  }

  body {
    background-color: #f8f8f8;
    color:#111111;
     /* Use your custom font */
    }  }

::selection {
  background-color:#111111;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide in Firefox */
html {
  scrollbar-width: none;
}

/* Hide in IE/Edge (legacy) */
body {
  -ms-overflow-style: none;
}

input:focus, textarea:focus {
  outline: none;
}


